<!DOCTYPE html>
<html>
  <head>
    <title>CBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/partials/navigation' %>
    <%= turbo_frame_tag :notice, class: 'w-full' do %>
    <% end %> 
    <main class="container mx-auto min-h-screen  mt-8 mb-8 px-5 flex" style="min-height: 60vh;">
      <%= yield %>
    </main>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>
